/* For mobile phones: */
html,
body {
  height: 100%;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1.6;
}

#gradient {
  height: auto;
  width: 100%;
  background-color: rgb(42, 13, 13, 0.8);
  box-shadow: #313031 3px 4px 3px;
}

body {
  background: url(img/landscape1.jpg) no-repeat center fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

header > p {
  margin-left: 10px;
}

label {
  color: white;
  font-weight: bolder;
}

input[type="text"] {
  padding: 5px;
  background-color: rgb(253, 245, 236);
  border-radius: 5px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(141, 87, 110);
  color: #ffffff;
  cursor: pointer;
  padding: 12px;
  box-shadow: 3px 5px 6px rgb(48, 47, 47);
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: rgb(116, 46, 90);
}

#go:hover {
  background-color: rgb(116, 46, 90);
}

.jor,
.bich,
.med {
  display: none;
  font-size: 16px;
  color: #fff;
  width: fit-content;
  background: radial-gradient(rgb(42, 13, 13, 1), rgb(42, 13, 13, 0.5));
  padding: 4px;
  border-radius: 6px;
}

.newsBox {
  overflow: auto;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px
}

#go {
  font-size: 13px;
  background-color: rgb(156, 98, 116);
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  box-shadow: 3px 1px 3px rgb(145, 144, 144);
  cursor: pointer;
}

#logo,
.hello {
  font-family: "Petit Formal Script", cursive;
  margin-left: 20px;
}

.hello {
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  width: fit-content;
  color: rgb(252, 250, 250);
  font-weight: 900;
  background: radial-gradient(rgb(42, 13, 13, 1), rgb(42, 13, 13, 0.5));
  padding: 8px;
  border-radius: 8px;
}

li {
  padding-top: 2px;
  padding-bottom: 3px;
  overflow: auto;
}
.ingredientContainer > p {
  margin: 0;
}
h3 {
  display: flex;
  justify-content: center;
}

#imgart {
  float: left;
  margin-right: 15px;
  /* height: auto; */
  width: 15%;
}

p,
a {
  line-height: 22px;
  word-spacing: 2px;
  letter-spacing: 0.6px;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
#imgingr {
  display: flex;
}

#drinkpic {
  margin-right: 15px;
}

.error-message {
  color: rgb(211, 4, 4);
  background: white;
  width: fit-content;
}

#search-term {
  margin-top: 40px;
}

ul {
  list-style: none;
}
.videoBox,
.recipeBox {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: rgb(254, 254, 254);
  box-shadow: 3px 5px 6px rgb(48, 47, 47);
  border-radius: 5px;
}
#results3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-color: #ffffff;
  box-shadow: 3px 5px 6px rgb(48, 47, 47);
  color: black;
  border-radius: 5px;
  opacity: 0.9;
  overflow: auto;
  /* padding-bottom: 20px; */
}

ul.rResults,
ul.vResults,
ul.nResults {
  padding: 0;
  margin: 0 10px;
}

ul.rResults,
ul.nResults {
  margin-left: 10px;
  margin-right: 10px;
}

.nResults-li > h4{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
}

#pic,
figcaption {
  display: block;
  margin: 0 auto;
  width: 75%;
  height: auto;
  border-radius: 6px;
}

figcaption {
  padding: 5px;
  font-size: 14px;
  color: rgb(3, 3, 3);
  font-weight: bold;
  border-radius: 6px;
  margin-top: 5px;
}

figcaption {
  padding: 5px;
  font-size: 14px;
  color: rgb(3, 3, 3);
  font-weight: bold;
  border-radius: 6px;
  margin-top: 5px;
}

footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #fff;
}

/* tablets: */
@media only screen and (min-width: 768px) {
  body {
    background: url(img/pink-light.jpeg) no-repeat center fixed;
    background-size: cover;
  }

  .col1 {
    display: flex;
  }

  form {
    font-size: larger;
    padding: 10px;
  }

  #go {
    font-size: 17px;
  }

  input[type="text"] {
    padding: 4px;
    font-size: medium;
    border-radius: 6px;
  }
  .jor {
    position: absolute;
  }
  .jor,
  .bich,
  .med {
    font-size: 22px;
  }

  label,
  .hello {
    font-size: 22px;
  }

  #results {
    position: relative;
    margin-top: 43px;
    margin-right: 16px;
    width: 85%;
  }
  #pic {
    width: 75%;
  }
  .videoBox {
    box-shadow: none;
  }
  #results2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-color: rgb(254, 254, 254);
    box-shadow: 3px 5px 6px rgb(48, 47, 47);
    border-radius: 5px;
  }
}
